<section id="search">
  <div class="container">

    <h1><i class="fa fa-book" aria-hidden="true"></i> Google Book API Search</h1>
    <hr>

    <h3>Please, choose your book:</h3>

    <form [formGroup]="searchForm">
      <div id="search-panel" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input formControlName="query" type="text" class="form-control" placeholder="What are you looking for?" aria-label="What are you looking for?" aria-describedby="button-addon2">
          @if (inputLoader()) {
            <div class="loader"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
          }
        </div>
    </form>

    @if (errorMessage()) {
      <div class="alert alert-danger">
        {{ errorMessage() }}
      </div>
    }

    @if (searchDone()) {
      <section [class.loading]="isLoadingResult()" class="table-responsive">
        <div class="loader" ><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published date</th>
                <th class="col-info" scope="col">More info</th>
              </tr>
            </thead>
            <tbody>
              @for (item of books(); track item.id; let index = $index) {
                <tr>
                  <th scope="row">{{ index + currentIndex() + 1 }}</th>
                  <td>{{ item.volumeInfo.title }}</td>
                  <td>{{ item.volumeInfo.authors }}</td>
                  <td>{{ item.volumeInfo.publishedDate }}</td>
                  <td class="col-info"><a target="_blank" [href]="item.volumeInfo.infoLink"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                </tr>
              }
            </tbody>
        </table>
      </section>

      <nav aria-label="pagination">
          <ul class="pagination">
            <li class="page-item" (click)="prevBtn($event)" [class.disabled]="currentIndex() === 0">
              <span class="page-link previous" aria-label="Previous">
                <span aria-hidden="true">&laquo; previous</span>
              </span>
            </li>
            <li class="page-item" (click)="nextBtn($event)" [class.disabled]="(booksLength() / maxResult() < 1)">
              <span class="page-link next" aria-label="Next">
                <span aria-hidden="true">next &raquo;</span>
              </span>
            </li>
          </ul>
        </nav>
    }

    <footer>
      <hr>
      <a target="_blank" href="http://www.marcinszczerba.com/">marcinszczerba.com</a> (2026)
    </footer>

  </div>
</section>