@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8.ttf) format('truetype');
}
:host {
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  color: #cc1438;
}
#search h1 {
  margin-top: 30px;
  color: #cc1438;
}
#search table {
  margin-top: 30px;
  text-align: left;
  font-size: 12px;
}
#search table .col-info {
  text-align: center;
}
#search table td.col-info {
  font-size: 16px;
}
#search .page-item .page-link {
  cursor: pointer;
  color: #cc1438;
}
#search .page-item.disabled .page-link {
  color: #e0dede;
  cursor: auto;
  background-color: #f9f7f7;
}
#search #search-panel {
  border: 1px solid #ccc;
  padding: 30px;
  margin: 20px 0;
  background: #fbfbfb;
  border-radius: 5px;
}
#search #search-panel input[type="text"] {
  position: relative;
}
#search #search-panel input[type="text"]:focus {
  border: inherit;
  outline: 0;
  box-shadow: none;
}
#search #search-panel .loader {
  position: absolute;
  top: 37px;
  right: 40px;
  z-index: 300;
}
#search footer {
  margin-top: 50px;
  margin-bottom: 20px;
}
.table-responsive .loader i {
  display: none;
}
.table-responsive.loading {
  position: relative;
}
.table-responsive.loading:after {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  content: "";
}
.table-responsive.loading .loader i {
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  right: 50%;
  color: #cc1438;
  z-index: 400;
}
.alert {
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}
.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
